<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>可调整高度的 TextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A6E5AA61E56A9B70094AFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A6E5ABF1E56A9B70094AFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A6E5ACA1E56A9B70094AFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
